<br />
<div style="width: 400px; margin: auto;">
  <div class="fs-3">Creation d'un nouveau canal</div>
  <br />
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Nom : </span>
    <input type="text" class="form-control" name ="title" required />
  </div>
  <div class="input-group">
    <span class="input-group-text">Description</span>
    <textarea class="form-control" name="description" required></textarea>
  </div>
  <br />
  <button (submitted)="addChanel()" class="btn btn-success">Ajouter</button>
</div>
